body {
    margin: 0 0;
    padding: 0;
}

#carouselExampleIndicators, .container, .breadcrumb, #categoryCards, #newStuff {
    margin: 0 16%;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    #carouselExampleIndicators, .breadcrumb, #categoryCards, #newStuff, footer {
        margin: 0 8%;
    }
}

@media only screen and (max-width: 600px) {
    #carouselExampleIndicators, .breadcrumb, #categoryCards, #newStuff, footer {
        margin: 0 0;
    }
    .breadcrumb {
        border-radius: 0px;
    }
    .sns-logo {
        height: 2.3rem;
        width: 2.3rem;
    }
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #6c757d;
}

/* SNS logos */
.sns-logo {
    transition: ease-in-out 0.15s;
}

.sns-logo:hover {
    transform: scale(1.15);
}

.sns-logo:active {
    filter: invert(100%);
}

/* Carousel */
.carousel-inner{
    max-height: 500px;
}

/* Cards */
.card-body {
    padding: 0.5rem;
    text-align: center;
}

.card {
    transition: ease-in-out 0.2s;
}

a .card:hover {
    transform: scale(1.03);
    color: black;
}

#cardBodyHeight {
    height: 4.5rem;
}

.product-card-a {
    color: rgb(70, 70, 70);
}

.product-card-a:hover {
    color: black;
}

/* Price */
.list-group-item {
    font-size: 0.8rem;
    color: rgb(70, 70, 70);
}

.card-align-left {
    text-align: left;
    padding: 0.75rem 1.25rem;
    line-height: 1.2rem;
}


/* Footer */
footer {
    margin: 0 20%;
    font-size: small;
}

.footer-list {
    padding: 0 5%;
}

#footerBox {
    text-align: center;
}

.footer-bottom {
    margin-top: 30px;
    text-align: center;
}

/* Cart */
#cart:hover {
    background-color: black;
}

#cart {
    max-height: 2.5rem;
    padding-top: 0.4rem;
}

#cart:hover>img {
    filter: invert(100%);
    -webkit-filter: invert(100%);
}
