body {
    margin: 0 0;
    padding: 0;
}

#carouselExampleIndicators, .container, .breadcrumb, #categoryCards, #newStuff {
    margin: 0 16%;
}

@media only screen and (min-width: 601px) and (max-width: 900px) {
    #carouselExampleIndicators, .breadcrumb, #categoryCards, #newStuff, footer {
        margin: 0 8%;
    }
}

@media only screen and (max-width: 600px) {
    #carouselExampleIndicators, .breadcrumb, #categoryCards, #newStuff, footer {
        margin: 0 1%;
    }
}

a {
    color: black;
}

a:hover {
    text-decoration: none;
    color: #6c757d;
}

.form-control {
    display: inline-flexbox;
}

/* Bootstrap */
.mb-4 {
    margin-bottom: 0.8rem !important;
}

/* Carousel */
#carouselExampleIndicators {
    margin-top: 15px;
}

.tales {
    width: 100%;
}

.carousel-inner{
    width:100%;
    max-height: 500px;
}

/* Cards */
.breadcrumb {
    margin-top: 1.2rem;
    margin-bottom: 0.6rem;
}



.card-body {
    padding: 0.5rem;
    text-align: center;
}

.card {
    transition: ease-in-out 0.2s;
}

a .card:hover {
    transform: scale(1.03);
    color: black;
}

#cardBodyHeight {
    height: 4.5rem;
}

.product-card-a {
    color: rgb(70, 70, 70);
}

.product-card-a:hover {
    color: black;
}

/* Price */
.list-group-item {
    font-size: 0.8rem;
    color: rgb(70, 70, 70);
}

.card-align-left {
    text-align: left;
    padding: 0.75rem 1.25rem;
    line-height: 1.2rem;
}


/* Footer */
footer {
    margin: 0 20%;
    font-size: small;
}

.footer-list {
    padding: 0 5%;
}

#footerBox {
    text-align: center;
}

.footer-bottom {
    margin-top: 30px;
    text-align: center;
}

/* Cart */
#cart:hover {
    background-color: black;
}

.gg-shopping-cart {
    display: block;
    box-sizing: border-box;
    position: relative;
    transform: scale(var(--ggs,1));
    width: 20px;
    height: 21px;
    background:
        linear-gradient(
            to left,currentColor 12px,
            transparent 0)
            no-repeat -1px 6px/18px 2px,
        linear-gradient(
            to left,currentColor 12px,
            transparent 0)
            no-repeat 6px 14px/11px 2px,
        linear-gradient(
            to left,currentColor 12px,
            transparent 0)
            no-repeat 0 2px/4px 2px,
        radial-gradient(
            circle,currentColor 60%,
            transparent 40%)
            no-repeat 12px 17px/4px 4px,
        radial-gradient(
            circle,currentColor 60%,
            transparent 40%)
            no-repeat 6px 17px/4px 4px
}
.gg-shopping-cart::after,
.gg-shopping-cart::before {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
    width: 2px;
    height: 14px;
    background: currentColor;
    top: 2px;
    left: 4px;
    transform: skew(12deg)
}
.gg-shopping-cart::after {
    height: 10px;
    top: 6px;
    left: 16px;
    transform: skew(-12deg)
}
